<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/style.css">
  <script src="/script.js" defer></script>
</head>
<body class="<%= dark ? 'dark-mode' : '' %>">
  <%- include('partials/sidebar') %>
  <%- body %> <!-- This will render the page-specific content -->
</body>
</html>
