<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Resume - Bryan Tan</title>
  <link rel="stylesheet" href="/style.css">
  <script src="/script.js" defer></script>
</head>
<body>
  <div class="container">

    <main class="content">
      <h1>Work Resume</h1>
      <section>
        <h2>Work Experience</h2>
        <p>[Describe your work experience]</p>
      </section>
      <section>
        <h2>Education</h2>
        <p>[Describe your educational background]</p>
      </section>
    </main>
  </div>
</body>
</html>
